*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: linear-gradient(to left, #f9bdbd,  #ffffff) ;
}
.box{
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px 10%;
    box-shadow: 0px 27px 87px rgba(0,0,0,0.37);
    border-radius: 15px;
    overflow: hidden;
    background-color:  white;
    
}
.box-img{
    padding-left: 45px;
    float: left;
    width: 45%;
}
.box-text{
    width: 55%;
    float: left;
    padding: 70px 70px 70px 35px;
}
.box-text h1{
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: bold;
    color: #151515;
}
.box-text a{
    padding-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #151515;
    line-height: 30px;
  
}
.box-text .social a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #030303;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
}